development:
  sid: XXXXXXXXXXXXXXXXXXXXX
  token: XXXXXXXXXXXXXXXXXXXXX
  phone: XXXXXXXXXXXXXXXXXXXXX
  secret: XXXXXXXXX

test:
  sid: XXXXXXXXXXXXXXXXXXXXX
  token: XXXXXXXXXXXXXXXXXXXXX
  phone: XXXXXXXXXXXXXXXXXXXXX
  secret: XXXXXXXXX

production:
  sid: XXXXXXXXXXXXXXXXXXXXX
  token: XXXXXXXXXXXXXXXXXXXXX
  phone: XXXXXXXXXXXXXXXXXXXXX
  secret: XXXXXXXXX
