development:
  sid: XXXXXXXXXXXXXXXXXXXXX
  token: XXXXXXXXXXXXXXXXXXXXX
  phone: XXXXXXXXXXXXXXXXXXXXX

test:
  sid: XXXXXXXXXXXXXXXXXXXXX
  token: XXXXXXXXXXXXXXXXXXXXX
  phone: XXXXXXXXXXXXXXXXXXXXX

production:
  sid: XXXXXXXXXXXXXXXXXXXXX
  token: XXXXXXXXXXXXXXXXXXXXX
  phone: XXXXXXXXXXXXXXXXXXXXX
